.holder{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.item{
	width: 100px;
	height: 100px;
}
.item:first-child{
    background-color: green;
}
.item:nth-child(2){
	background-color: red;
}
.item:last-child{
	background-color: blue;
}